/*CSS for Links*/
nav {
  border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
  background-color: #ffffff;
  position:center;
}
.nav li {

	display:inline;
}
.nav a {
	display:inline-block;
    padding:10px;
}
/*General CSS for all 3 webpages*/
body {
	margin-left: 10px;
	margin-right: 10px;
	background-color: grey;
}
h1 {
	font-family: "Times New Roman", Times, serif;
	border-top-style: none;
	color: red;
}
h2 {
	font-family: "Arial Black", Gadget, sans-serif;
	border-top-style: none;
	color: blue;}
p {
	font-family: "Times New Roman", Times, serif;
	color: black;
}

/*CSS for Images*/
img {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 245px;
}
table, td {
	border: 1px solid black;
	width: 245px;
}
