/*CSS for Links*/
nav {
  font-family: "Arial Black", Gadget, sans-serif;
  border:1px solid #ccc;
  border-width:1px 0;
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
  font-size: 125%;
}
.nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
  background-color: #ffffff;
}
.nav li {

	display:inline;
}
.nav a {
	display:inline-block;
    padding:10px;
}

/*General CSS for all 4 webpages*/
a {
   color:inherit;
   color:#fa625f;
}
body {
	margin-left: 20px;
	margin-right: 20px;
	background-color: #e1e8f0;
}
h1 {
	font-family: "Arial Black", Gadget, sans-serif;
	border-top-style: none;
	color: #c9af98;
  font-size: 250%;
}
h2 {
	font-family: "Arial Black", Gadget, sans-serif;
	border-top-style: none;
	color: blue;
  font-size: 150%;
}
h3 {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 150%;
}
h4 {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 105%;
  text-decoration: underline;
}
p {
	font-family: "Ariel", Helvetica, sans-serif;
  font-size: 111%;
}
li {
  font-family: "Ariel", Helvetica, sans-serif;
  font-size: 111%;
  margin-left: 20px;
	margin-right: 20px;
}

/*CSS for Images*/
img {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 245px;
}
.pix img {
  flex-wrap: nowrap;
}
.text a {
  flex-wrap: nowrap;
}
table, td {
	border: 1px solid black;
	width: 245px;
}

/*CSS for Youtube Video*/
.frame div {
	position: relative;
	height: 0;
	padding-bottom: 36%;
}
iframe {
	position:absolute;
	width: 100%;
	height: 100%;
	left: 0;
	width: 911px;
	height: 360px;
}

/*CSS for Maps*/
#map {
  height: 600px;
  width: 100%;
}
.key div {

}
